.envelope {
    margin: auto;
    max-width: 660px;
}

.card {
    max-width: 600px;
    padding: 30px;
    border: 1px solid #8E8E8E;
    border-radius: 8px;
}

.card h1 {
    background-color: #F21B3F;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    text-wrap: wrap;
    font-size: 24px;
}

.card h2 {
    margin: 10px 0;
    font-size: 16px;
}

.card ul {
    list-style: none;
    padding: 20px 0;
    border-top: 1px solid #8E8E8E;
}

.card li {
    margin-bottom: 20px;
    border-bottom: 1px solid #8E8E8E;
    padding-bottom: 10px;
}
.card pre {
    margin-top: 10px;
    text-wrap: wrap;
    font-size: 12px;
}

.code_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: #F21B3F;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.code_text h3 {
    font-size: 24px;
}

.code_text h4 {
    font-size: 20px;
    color: #FFD151;
}

.copy {
    padding: 10px 10px;
    background-color: #fff;
    color: #8E8E8E;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.copy:hover {
    color: #F21B3F;
    transition: .3s;
}

.return_box {
    margin: 20px 0px;
}

.return {
    text-align: center;
    font-size: 1rem;
    background-color: #fff;
    color: #8E8E8E;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    margin: 0px;
}

.return:hover {
    background-color: #8E8E8E;
    color: #fff;
    transition: .2s;
}