.question_box {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border: 1px solid #8e8e8e;
    border-radius: 8px;
    margin: 30px auto 0;
    padding: 10px;
    box-shadow: 0px 8px 21px -6px #00000040;
    background-color: #fff;
}

.question_box:hover, .question_box:focus-within {
    border-color: #F21B3F;
    transition: .5s;
    box-shadow: 0px 8px 21px -6px #000000a1;
}

.question_box textarea {
    padding: 10px;
    font-size: 12px;
    border: none;
}

.question_box textarea[name="question"] {
    font-size: 16px;
    border-bottom: 1px solid #8e8e8e;
}

.question_box textarea:focus {
    outline: none;
    border-bottom:1px solid #F21B3F;
    transition: ease .5s;
}

p {
    font-size: 16px;
    text-align: left;
    padding: 10px;
    color: rgba(211, 211, 211, 0.5);
}

.button_trash {
    position: relative;
    display: flex;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin: 10px 0 0 auto;
    color: #8e8e8e;
}

.button_trash:hover {
    background-color: #8e8e8e50;
    color: #fff;
    transition: .2s;
}

.trash {
    font-size: 12px;
}
