.loveLog {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 60px;
    width: 100%;
    border-bottom: 1px solid #F21B3F;

}

.loveLog h1 {
    background:  linear-gradient(269.52deg, #F21B3F -1.77%, #FFD151 95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.userInfo {
    display: flex;
    align-items: center;
    color: white;
}

.userInfo p {
    font-weight: bold;
    color: white;
}

.userInfo div {
    display: flex;
    align-items: center;
}

.userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.profileButton {
    background-color: #F21B3F;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.profileButton:hover {
    background-color: #e6e6e6;
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.activityCard {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.activityCard h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.activityCard p {
    margin-bottom: 20px;
}

.activityCard a {
    color: #fff;
    text-decoration: none;
    background-color: #F21B3F;
    padding: 5px;
    border-radius: 6px;
}

.links {
    display: flex;
    gap: 10px;
    justify-content: center;
}